/* Use your own code or past solution for Great Idea Web Page CSS here! */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}




  
/* 
/* 
/* Responsive */
/* .container {
  border: 1px solid red;
  width: 880px;
  /* TB LR */
  /* margin: 0 auto;
}   */ 


/* @media( min-width: 300px ) {
    .container {
      background: rgb(61, 181, 228);
    }
  } */
  
  /* @media( min-width: 500px ) {
    .container {
      background: green;
      max-width: 880px;
    }
  } */
 */

/* header */


/* header {
    display: flex;
    justify-content: space-between;
  }  */

header nav {
  display: inline-block;
  width: 691px;
  vertical-align: top;
  margin-top: 35px;
}

header nav a {
  display: inline-block;
  margin-right: 65px;
  font-size: 14px;
  color: gray;
  text-decoration: none;
}

header nav a:hover {
  text-decoration: underline;
}

header nav a:first-child {
  margin-left: 0;
}

header nav a:last-child {
  margin-right: 0;
}

header .logo {
  display: inline-block;
  margin-top: 25px;
}

/* cta */

.cta .cta-text {
  display: inline-block;
  vertical-align: top;
  font-size: 77px;
  margin-top: 120px;
  text-align: center;
  padding: 0px 75px;
}

.cta .cta-text button {
  background: white;
  vertical-align: top;
  margin-top: 6px;
  padding: 8px 44px;
  font-size: 17px;
  border: 1px solid black;
  cursor: pointer;
}

.cta .cta-text button:hover {
  background: black;
  color: white;
}

.cta img {
  display: inline-block;
  margin-top: 69px;
}

.main-content {
  border-top: 1px solid black;
  margin-top: 76px;
  padding-top: 39px;
}

.main-content .top-content {
  padding: 0 10px;
}

.main-content .top-content .text-content {
  width: 410px;
  display: inline-block;
  margin-right: 34px;
}

.main-content .top-content .text-content:last-child {
  margin-right: 0;
}

.main-content .middle-img {
  margin-top: 45px;
}

.main-content .bottom-content {
  margin-top: 37px;
  padding: 0 10px;
}

.main-content .bottom-content .text-content {
  width: 275px;
  display: inline-block;
  margin-right: 12px;
}

.main-content .bottom-content .text-content:last-child {
  margin-right: 0;
}

.contact {
  margin-top: 57px;
  border-top: 1px solid black;
  padding: 39px 10px 0;
}

.contact p {
  margin: 20px 0;
}

footer {
  margin: 32px 0;
  text-align: center;
  font-size: 14px;
}


/* media queries CSS (800px)*/

@media only screen and (max-width: 800px) {
  .container {
    width:100%;
    background: red;
  }
 #navbar {         
      flex-flow: column-reverse nowrap;
  } 
.logo {
  margin-top: 50px;
}
.aHref {
  display: flex;
  justify-content: space-between;
}

.aHrefs {
  display: flex;
  justify-content: space-between;
}

#headerImage {
  display: none;
}

.cta {
  justify-content: center;
        padding-top: 75px;
        border-bottom: 0px;
        height: 450px;
}
.cta-text {
  font-size: 72px
}

#innovation {
  font-size: 72px;
}

#getStarted {
  height: 35px;
  width: 170px;
  color: white;
  font-size: 16px;
  border: 1px solid black;
  padding-top: 7px;
  text-decoration: none;
}

.headerImage {
  display: none;
}

.main-content {
  justify-content: space-between;
  width: 755px;
  border-top: 2px solid black;
  margin: 0px 0px 40px 20px;
  padding: 30px 0px 0px 10px;
}

.main-content {
  justify-content: space-between;
        width: 755px;
        border-top: 2px solid black;
        margin: 0px 0px 40px 20px;
        padding: 30px 0px 0px 10px;
}

.top-content {
  width: 360px;
}

.text-content {
  width: 360px;
}

.text-content2 { 
  width: 210px;
}

.middle-img {
  width: 755px;
  margin-left: 20px;
}

.bottom-content {
  justify-content: space-between;
  width: 755px;
  margin: 0px 0px 60px 20px;
  padding: 30px 0px 0px 10px;
}


.contact {
  border-top: 2px solid black;
  margin-left: 20px;
  width: 755px;
  padding: 30px 0px 0px 5px;
}

#footer {
  text-align: center;
  margin-top: 70px;
  font-size: 16px;
}








/* media queries CSS  (500px) */


@media only screen and (max-width: 500px) {
.container {
width:100%;
background: burlywood;
}

 #navbar {         
  height: 400px;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 20px;
        } 
.logo {
  margin: 15px 0px;
}
.aHref {
  flex-flow: column nowrap;

}

.aHrefs {
  font-size: 20px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 22px 0px;
  width: 500px;
  border-top: 1px solid black;
}

#headerImage {
  border-bottom: 0px;
  height: 350px;
  padding-top: 0px;
}

.cta {
  border-bottom: 0px;
  height: 350px;
  padding-top: 0px;
}
.cta-text {
  font-size: 72px
}

#innovation {
  border-top: 1px solid black;
        width: 500px;
        margin-top: 25px;
        padding-top: 40px;
      }

#getStarted {
  height: 35px;
  width: 170px;
  color: white;
  font-size: 16px;
  border: 1px solid black;
  padding-top: 7px;
  text-decoration: none;
}

.headerImage {
  display: none;
}



.main-content {
  width: 460px;
  flex-flow: column wrap;
  margin-right: 40px;
  padding-left: 0px;
  align-items: flex-start;
}

.top-content {
  width: 460px;
  margin: 25px 0px;
}

.text-content {
  width: 460px;
  margin: 25px 0px;
}

.text-content2 { 
  width: 460px;
  margin: 25px 0px;}

.middle-img {
  width: 460px;

}


.bottom-content {
  width: 460px;
        flex-flow: column wrap;
        margin-right: 40px;
        padding-left: 0px;
        align-items: flex-start;
        margin-bottom: 20px;
}


.contact {
  width: 460px;
  margin-right: 40px;
}

#footer {
  text-align: center;
  margin-top: 50px;
}
}




